[package]
name = "sync-committee-primitives"
version = "0.1.1"
edition = "2021"
authors = ["Polytope Labs"]
publish = false

[dependencies]
hex-literal = { workspace = true }
codec = { workspace = true, features = ["derive"] }
primitive-types = { workspace = true, features = [
    "serde_no_std",
    "impl-codec",
] }
serde = { workspace = true, optional = true, features = ["derive"] }
hex = { workspace = true, default-features = false, features = ["alloc"] }
anyhow = { workspace = true, default-features = false }
serde-hex-utils = { workspace = true, default-features = false }

ssz-rs = { git = "https://github.com/polytope-labs/ssz-rs", branch = "main", default-features = false }


[features]
default = ["std"]
std = [
    "ssz-rs/default",
    "ssz-rs/serde",
    'codec/std',
    "primitive-types/std",
    "anyhow/std",
    "primitive-types/std",
    "serde",
    "serde-hex-utils/std",
]
fulu = []
