[package]
name = "grandpa-prover"
version = "0.1.0"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
publish = false

[dependencies]
hex = { workspace = true, default-features = true }
log = { workspace = true, default-features = true }
anyhow = { workspace = true, default-features = true }
serde = { workspace = true, default-features = true }
subxt = { workspace = true, default-features = true }
codec = { workspace = true, default-features = true, features = ["derive"] }
hex-literal = { workspace = true }
derive_more = { workspace = true, default-features = true }
finality-grandpa = "0.16.0"
grandpa-verifier-primitives = { workspace = true, default-features = true }
grandpa-verifier = { workspace = true, default-features = true }
ismp = { workspace = true, default-features = true }
subxt-utils = { workspace = true, default-features = true }
indicatif = "0.17.11"
serde_json = "1.0"

[dependencies.polkadot-sdk]
workspace = true
default-features = true
features = [
    "sc-consensus-grandpa-rpc",
    "sp-consensus-grandpa",
    "sp-runtime",
    "sp-core",
    "sp-trie",
    "sp-state-machine",
]
