[package]
name = "grandpa-prover"
version = "0.1.0"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
publish = false



[dependencies]
hex = "0.4.3"
anyhow.workspace = true
serde = { workspace  = true, default-features = true}
subxt = { workspace = true, default-features = true }
codec = { workspace = true, default-features = true, features = ["derive"] }
derive_more = "0.99.17"
downcast-rs = "1.2.0"
jsonrpsee = { version = "0.23", features = ["async-client", "jsonrpsee-ws-client"] }
jsonrpsee-ws-client = "0.23"
finality-grandpa = "0.16.0"

sc-consensus-grandpa-rpc = { workspace = true, default-features = true }
sp-consensus-grandpa = { workspace = true, default-features = true }
sp-runtime = { workspace = true, default-features = true }
sp-core = { workspace = true, default-features = true }
sp-trie = { workspace = true, default-features = true }
sp-state-machine = { workspace = true, default-features = true }


grandpa-verifier-primitives = { workspace = true, default-features = true }
ismp = { workspace = true, default-features = true }
subxt-utils = { workspace = true, default-features = true }
