[package]
name = "bsc-prover"
version = "0.1.1"
edition = "2021"
description = "Prover for Binance Smart Chain Network's Consensus Protocol"
authors = ["Polytope Labs <hello@polytope.technology>"]
publish = false


[dependencies]
bsc-verifier = { workspace = true, default-features = true }
anyhow = { workspace = true, default-features = true }
primitive-types = { workspace = true, features = ["serde", "impl-codec"] }
ethers = { workspace = true, features = ["ws", "default"] }
ismp = { workspace = true, default-features = true }
sync-committee-primitives = { workspace = true, default-features = true }
geth-primitives = { workspace = true, default-features = true }
tracing = "0.1.40"

[dependencies.polkadot-sdk]
workspace = true
default-features = true
features = ["sp-core"]

[dev-dependencies]
tokio = { workspace = true, features = ["macros"] }
dotenv = "0.15.0"
