[submodule "evm/lib/solidity-stringutils"]
	path = evm/lib/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils
[submodule "evm/lib/sp1-contracts"]
	path = evm/lib/sp1-contracts
	url = https://github.com/polytope-labs/sp1-contracts
[submodule "sdk/packages/simplex/proto/mpcvaultapis"]
	path = sdk/packages/simplex/proto/mpcvaultapis
	url = https://github.com/mpcvault/mpcvaultapis.git
[submodule "evm/lib/gnark-apk-proofs"]
	path = evm/lib/gnark-apk-proofs
	url = https://github.com/polytope-labs/gnark-apk-proofs
