[submodule "evm/lib/ismp-solidity"]
	path = evm/lib/ismp-solidity
	url = https://github.com/polytope-labs/ismp-solidity
[submodule "evm/lib/solidity-merkle-trees"]
	path = evm/lib/solidity-merkle-trees
	url = https://github.com/polytope-labs/solidity-merkle-trees
[submodule "evm/lib/forge-std"]
	path = evm/lib/forge-std
	url = git@github.com:foundry-rs/forge-std
[submodule "evm/lib/openzeppelin-contracts"]
	path = evm/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "evm/lib/ERC6160"]
	path = evm/lib/ERC6160
	url = https://github.com/polytope-labs/ERC6160
[submodule "evm/lib/solidity-stringutils"]
	path = evm/lib/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils
[submodule "evm/lib/permit2"]
	path = evm/lib/permit2
	url = https://github.com/Uniswap/permit2
