[workspace]
resolver = "2"
members = [
    # Parachain
     "parachain/runtime",
     "parachain/node",

     # ismp
     "parachain/modules/ismp/core",
     "parachain/modules/ismp/primitives",
     "parachain/modules/ismp/rpc",
     "parachain/modules/ismp/runtime-api",
     "parachain/modules/ismp/demo",
     "parachain/modules/ismp/sync-committee",
     "parachain/modules/ismp/ismp-rs",
     "parachain/modules/ismp/ismp-rs/ismp-testsuite",

     # modules
     "parachain/modules/state-machine",
     "parachain/modules/consensus/sync-committee/prover",
     "parachain/modules/consensus/sync-committee/verifier",
     "parachain/modules/consensus/sync-committee/primitives",
]
