[workspace]
resolver = "2"
members = [
    # runtime
     "parachain/runtimes/gargantua",
     "parachain/runtimes/messier",

     # node
     "parachain/node",

     # ismp
     "modules/ismp/pallet",
     "modules/ismp/core",
     "modules/ismp/pallet/rpc",
     "modules/ismp/pallet/runtime-api",
     "modules/ismp/pallet/demo",
     "modules/ismp/core",
     "modules/ismp/testsuite",
     "modules/ismp/clients/sync-committee",
     "modules/ismp/clients/polygon-pos",
     "modules/ismp/clients/casper-ffg",
     "modules/ismp/pallet/state-machine",

     # modules
     "modules/trees/ethereum",
     "modules/consensus/sync-committee/prover",
     "modules/consensus/sync-committee/verifier",
     "modules/consensus/sync-committee/primitives",
     "modules/consensus/polygon-pos/verifier",
     "modules/consensus/polygon-pos/prover",
     "modules/consensus/beefy/primitives",
     "modules/consensus/beefy/prover",
     "modules/consensus/geth-primitives",
     "modules/consensus/bsc-pos/verifier",
     "modules/consensus/bsc-pos/prover",
     "modules/ismp/clients/bsc-pos",
     "modules/state-machine-manager",

     # evm stuff
     "evm/integration-tests",
     "evm/abi",
     "modules/relayer-fees",
     "modules/trees/mmr",
]

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.8.0"
# CI backends to support
ci = ["github"]
# The installers to generate for each app
installers = ["shell"]
# A GitHub repo to push Homebrew formulas to
tap = "polytope-labs/hyperbridge"
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["x86_64-unknown-linux-gnu"]
# The archive format to use for non-windows builds (defaults .tar.xz)
unix-archive = ".tar.gz"
# Publish jobs to run in CI
pr-run-mode = "upload"
# Skip checking whether the specified configuration files are up to date
allow-dirty = ["ci"]

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

[workspace.dependencies]
# wasm
frame-benchmarking = { version = "28.0.0", default-features = false }
frame-executive = { version = "28.0.0", default-features = false }
frame-support = { version = "28.0.0", default-features = false }
frame-system = { version = "28.0.0", default-features = false }
frame-system-benchmarking = { version = "28.0.0", default-features = false }
frame-system-rpc-runtime-api = { version = "26.0.0", default-features = false }
frame-try-runtime = { version = "0.34.0", default-features = false }
pallet-aura = { version = "27.0.0", default-features = false }
pallet-authorship = { version = "28.0.0", default-features = false }
pallet-balances = { version = "28.0.0", default-features = false }
pallet-session = { version = "28.0.0", default-features = false }
pallet-sudo = { version = "28.0.0", default-features = false }
pallet-timestamp = { version = "27.0.0", default-features = false }
pallet-transaction-payment = { version = "28.0.0", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { version = "28.0.0", default-features = false }
pallet-message-queue = { version = "31.0.0", default-features = false }
sp-api = { version = "26.0.0", default-features = false }
sp-blockchain = { version = "28.0.0", default-features = false }
sp-io = { version = "30.0.0", default-features = false }
sp-trie = { version = "29.0.0", default-features = false }
sp-block-builder = { version = "26.0.0", default-features = false }
sp-consensus-aura = { version = "0.32.0", default-features = false }
sp-consensus-beefy = { version = "13.0.0", default-features = false }
sp-core = { version = "28.0.0", default-features = false }
sp-inherents = { version = "26.0.0", default-features = false }
sp-offchain = { version = "26.0.0", default-features = false }
sp-runtime = { version = "31.0.1", default-features = false }
sp-session = { version = "27.0.0", default-features = false }
sp-std = { version = "14.0.0", default-features = false }
sp-transaction-pool = { version = "26.0.0", default-features = false }
sp-version = { version = "29.0.0", default-features = false }
sp-genesis-builder = { version = "0.7.0", default-features = false }
pallet-xcm = { version = "7.0.0", default-features = false }
polkadot-parachain-primitives = { version = "6.0.0", default-features = false }
polkadot-runtime-common = { version = "7.0.0", default-features = false }
staging-xcm = { version = "7.0.0", default-features = false }
staging-xcm-builder = { version = "7.0.0", default-features = false }
staging-xcm-executor = { version = "7.0.0", default-features = false }
cumulus-primitives-aura = { version = "0.7.0", default-features = false }
cumulus-pallet-session-benchmarking = { version = "9.0.0", default-features = false }
cumulus-pallet-aura-ext = { version = "0.7.0", default-features = false }
cumulus-pallet-dmp-queue = { version = "0.7.0", default-features = false }
cumulus-pallet-parachain-system = { version = "0.7.0", default-features = false, features = ["parameterized-consensus-hook"] }
cumulus-pallet-xcm = { version = "0.7.0", default-features = false }
cumulus-pallet-xcmp-queue = { version = "0.7.0", default-features = false }
cumulus-primitives-core = { version = "0.7.0", default-features = false }
cumulus-primitives-timestamp = { version = "0.7.0", default-features = false }
cumulus-primitives-utility = { version = "0.7.0", default-features = false }
pallet-collator-selection = { version = "9.0.0", default-features = false }
parachain-info = { package = "staging-parachain-info", version = "0.7.0", default-features = false }
parachains-common = { version = "7.0.0", default-features = false  }
sp-timestamp = { version = "26.0.0", default-features = false }
sp-keystore = { version = "0.34.0", default-features = false }
sp-mmr-primitives = { version = "26.0.0", default-features = false }
sp-storage =  { version = "19.0.0", default-features = false }
pallet-beefy-mmr = { version = "28.0.0", default-features = false }
pallet-mmr = { version = "27.0.0", default-features = false }

# client
frame-benchmarking-cli = "32.0.0"
pallet-transaction-payment-rpc = "30.0.0"
sc-basic-authorship = "0.34.0"
sc-chain-spec = "27.0.0"
sc-cli = "0.36.0"
sc-client-api = "28.0.0"
sc-consensus = "0.33.0"
sc-executor = "0.32.0"
sc-network = "0.34.0"
sc-network-sync = "0.33.0"
sc-network-common = "0.33.0"
sc-rpc = "29.0.0"
sc-service = "0.35.0"
sc-sysinfo = "27.0.0"
sc-telemetry = "15.0.0"
sc-tracing = "28.0.0"
sc-transaction-pool = "28.0.0"
sc-transaction-pool-api = "28.0.0"
sc-offchain = "29.0.0"
substrate-frame-rpc-system = "28.0.0"
substrate-prometheus-endpoint = "0.17.0"
try-runtime-cli = "0.38.0"
polkadot-cli = "7.0.0"
polkadot-primitives = "7.0.0"
polkadot-service = "7.0.0"
cumulus-client-cli = "0.7.0"
cumulus-client-consensus-aura = "0.7.0"
cumulus-client-consensus-common = "0.7.0"
cumulus-client-network = "0.7.0"
cumulus-client-service = "0.7.0"
cumulus-primitives-parachain-inherent = "0.7.0"
cumulus-relay-chain-interface = "0.7.0"
cumulus-client-consensus-proposer = "0.7.0"
cumulus-client-collator = "0.7.0"
substrate-wasm-builder = { version = "17.0.0" }
mmr-rpc = { version = "28.0.0" }

ethers = { git = "https://github.com/polytope-labs/ethers-rs", rev = "f8ab49e1ca2d68e8bf1113e705ade38e5f30b850", features = ["ethers-solc"] }
ethers-contract-abigen = { git = "https://github.com/polytope-labs/ethers-rs", rev = "f8ab49e1ca2d68e8bf1113e705ade38e5f30b850" }

forge-testsuite = { git = "https://github.com/polytope-labs/forge-testsuite", rev = "50c6686ddfe61c697013bd067ac5fae7a0d5723e" }
merkle-mountain-range = { package = "ckb-merkle-mountain-range", version = "0.5.2",  default-features = false }

trie-db = { version = "0.28.0", default-features = false }
hash-db = { version = "0.16.0", default-features = false }
memory-db = { version = "0.32.0", default-features = false }
codec = { version = "3.1.3", package = "parity-scale-codec", default-features = false }
