[workspace]
resolver = "2"
members = [
    # Parachain
     "parachain/runtime",
     "parachain/node",

     # ismp
     "parachain/modules/ismp/pallet",
     "parachain/modules/ismp/core",
     "parachain/modules/ismp/rpc",
     "parachain/modules/ismp/runtime-api",
     "parachain/modules/ismp/demo",
     "parachain/modules/ismp/core",
     "parachain/modules/ismp/testsuite",
     "parachain/modules/ismp/sync-committee",
     "parachain/modules/ismp/casper-ffg",

     # modules
     "parachain/modules/ismp/state-machine",
     "parachain/modules/consensus/sync-committee/prover",
     "parachain/modules/consensus/sync-committee/verifier",
     "parachain/modules/consensus/sync-committee/primitives",
]
