[workspace]
resolver = "2"
members = [
    # Parachain
     "parachain/runtime",
     "parachain/node",
     # modules
     "parachain/modules/consensus/sync-committee",
     "parachain/modules/consensus/parachain",
     "parachain/modules/state-machine",
     "parachain/modules/consensus/beacon-consensus-pallet"
]
