[package]
name = "ismp-parachain-inherent"
version = "1.6.2"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
license = "Apache-2.0"
repository = "https://github.com/polytope-labs/hyperbridge"
homepage = "https://docs.hyperbridge.network/integrations/polkadot-sdk"
documentation = "https://docs.rs/ismp-parachain-inherent"
description = "Parachain ISMPconsensus client inherent provider"
keywords = ["substrate", "polkadot-sdk", "ISMP", "interoperability"]
readme = "./README.md"

[dependencies]
 # crates.io
async-trait = { version = "0.1.63" }
codec = { workspace = true, features = [ "derive" ], default-features = true }
anyhow = { workspace = true }

# Substrate
sp-inherents = { workspace = true, default-features = true }
sp-api = { workspace = true, default-features = true }
sp-blockchain = { workspace = true, default-features = true }
sp-runtime = { workspace = true, default-features = true }

# Cumulus
cumulus-primitives-core = {  workspace = true, default-features = true }
cumulus-relay-chain-interface = {  workspace = true, default-features = true }

# local
ismp = { workspace = true, default-features = true }
ismp-parachain = { workspace = true, default-features = true }
ismp-parachain-runtime-api = { workspace = true, default-features = true }
pallet-ismp-runtime-api = { workspace = true, default-features = true }
log = "0.4.21"
