[package]
name = "ismp-parachain-inherent"
version = "0.1.0"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]

[dependencies]
async-trait = { version = "0.1.63" }
codec = { package = "parity-scale-codec", version = "3.0.0", features = [ "derive" ] }
anyhow.workspace = true

# Substrate
sp-inherents = { workspace = true, default-features = true }
sp-api = { workspace = true, default-features = true }
sp-blockchain = { workspace = true, default-features = true }
sp-runtime = { workspace = true, default-features = true }

# Cumulus
cumulus-primitives-core = {  workspace = true, default-features = true }
cumulus-relay-chain-interface = {  workspace = true, default-features = true }

# polytope-labs
ismp = { path = "../../../core" }

# local
ismp-parachain = { path = "../" }
ismp-parachain-runtime-api = { path = "../runtime-api" }
