[relaychain]
default_command = "../polkadot-sdk/target/release/polkadot"
default_args = [ "-lparachain=debug" ]
chain = "rococo-local"

[[relaychain.nodes]]
name = "alice"
validator = true
rpc_port = 9922
args = [
	"--enable-offchain-indexing=true", "--pruning=archive",
]

[[relaychain.nodes]]
name = "bob"
validator = true
rpc_port = 9923
args = []

[[relaychain.nodes]]
name = "charlie"
validator = true
rpc_port = 9924
args = []

[[relaychain.nodes]]
name = "dave"
validator = true
rpc_port = 9925
args = []

[[parachains]]
id = 1000
chain = "asset-hub-rococo-local"
cumulus_based = true

[[parachains.collators]]
name = "asset-hub-rococo-collator-1"
command = "../polkadot-sdk/target/release/polkadot-parachain"
rpc_port = 9910
args = ["-lparachain=debug,xcm=trace,runtime::bridge-transfer=trace"]

[[parachains.collators]]
name = "asset-hub-rococo-collator-2"
command = "../polkadot-sdk/target/release/polkadot-parachain"
rpc_port = 9920
args = ["-lparachain=debug,xcm=trace,runtime::bridge-transfer=trace"]

[[parachains]]
id = 2000
chain = "gargantua-2000"
cumulus_based = true

# run alice as parachain collator
[[parachains.collators]]
name = "alice"
validator = true
rpc_port = 9990
port = 40337
command = "./target/release/hyperbridge"
args = [
	"-lbasic-authorship=trace,ismp=trace,xcm=trace", "--enable-offchain-indexing=true", "--pruning=archive"
]

[[parachains]]
id = 2001
chain = "gargantua-2001"
cumulus_based = true

# run alice as parachain collator
[[parachains.collators]]
name = "alice"
validator = true
rpc_port = 9991
port = 40338
command = "./target/release/hyperbridge"
args = [
	"-lbasic-authorship=trace,ismp=trace,xcm=trace", "--enable-offchain-indexing=true", "--pruning=archive"
]

## run bob as parachain collator
#[[parachains.collators]]
#name = "bob"
#validator = true
#rpc_port = 9956
#ws_port = 9989
#command = "../../target/release/hyperbridge"
#args = [
#	"-lparachain=debug", "--enable-offchain-indexing=true", "--pruning=archive"
#]
#
## run charlie as parachain collator
#[[parachains.collators]]
#name = "charlie"
#validator = true
#rpc_port = 9957
#ws_port = 9889
#command = "../../target/release/hyperbridge"
#args = [
#	"-lparachain=debug", "--enable-offchain-indexing=true", "--pruning=archive"
#]



