[package]
name = "pallet-fishermen"
version = "0.1.1"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
description = "Pallet for veto-ing ISMP state commitments, using permissioned fishermen"
publish = false


[dependencies]
# substrate
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-runtime = { workspace = true }
sp-core = { workspace = true }
sp-std = { workspace = true }
sp-io = { workspace = true }
scale-info = { workspace = true }
codec = { workspace = true }

# polytope labs
ismp = { workspace = true }
pallet-ismp = { workspace = true }

[features]
default = ["std"]
std = [
    "codec/std",
    "frame-support/std",
    "frame-system/std",
    "sp-io/std",
    "sp-runtime/std",
    "scale-info/std",
    "sp-std/std",
    "sp-core/std",
    "ismp/std",
    "pallet-ismp/std",
]
