[package]
name = "ismp-parachain"
version = "2506.2.0"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
license = "Apache-2.0"
repository = "https://github.com/polytope-labs/hyperbridge"
homepage = "https://docs.hyperbridge.network/developers/polkadot/getting-started"
documentation = "https://docs.rs/ismp-parachain"
description = "Parachain consensus client for pallet-ismp"
keywords = ["substrate", "polkadot-sdk", "ISMP", "interoperability"]
readme = "./README.md"

[dependencies]
# crates.io
serde = { workspace = true, features = ["derive"], optional = false }
codec = { workspace = true, features = ["derive"] }
scale-info = { workspace = true, features = ["derive"] }
hex-literal = { workspace = true }
hex = { workspace = true }
primitive-types = { workspace = true }
log = { workspace = true }

# local
substrate-state-machine = { workspace = true }
ismp = { workspace = true }
pallet-ismp = { workspace = true }

[dependencies.polkadot-sdk]
workspace = true
features = [
    "frame-support",
    "frame-system",
    "sp-trie",
    "sp-inherents",
    "sp-io",
    "sp-runtime",
    "sp-consensus-aura",
    "cumulus-pallet-parachain-system",
    "cumulus-primitives-core",
]

[features]
default = ["std"]
std = [
    "codec/std",
    "polkadot-sdk/std",
    "scale-info/std",
    "ismp/std",
    "log/std",
    "primitive-types/std",
    "pallet-ismp/std",
    "substrate-state-machine/std",
]
try-runtime = ["polkadot-sdk/try-runtime"]
runtime-benchmarks = [
    "polkadot-sdk/frame-benchmarking",
    "polkadot-sdk/runtime-benchmarks",
    "pallet-ismp/runtime-benchmarks",
]
