[package]
name = "pallet-ismp"
version = "0.1.0"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
description = "The substrate runtime implementation of the Interoperable State Machine Protocol"

[dependencies]
# substrate
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-balances = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-core = { workspace = true }
sp-std = { workspace = true }
sp-api = { workspace = true }
merkle-mountain-range = { workspace = true }
pallet-timestamp = { workspace = true, optional = true }
sp-consensus-aura = { workspace = true }
ismp = { workspace = true }
codec = { workspace = true }
scale-info = { workspace = true }
sp-mmr-primitives = { workspace = true }
pallet-mmr-labs = { workspace = true }

# crates.io
fortuples = "0.9.1"
log = { version = "0.4.17", default-features = false }
serde = { version = "1.0.136", features = ["derive"], default-features = false }
derive_more = { version = "0.99.17", default-features = false, features = ["from", "into", "display"] }
enum-as-inner = "=0.5.1"

[dev-dependencies]
env_logger = "0.10.0"
pallet-timestamp = { workspace = true, features = ["default"] }
ismp-testsuite = { path = "../testsuite" }

[features]
default = ["std"]
std = [
    "codec/std",
    "frame-benchmarking/std",
    "frame-support/std",
    "frame-system/std",
    "log/std",
    "scale-info/std",
    "sp-io/std",
    "sp-runtime/std",
    "sp-std/std",
    "sp-core/std",
    "ismp/std",
    "merkle-mountain-range/std",
    "sp-api/std",
    "serde/default",
    "pallet-balances/std",
    "sp-consensus-aura/std",
    "sp-mmr-primitives/std",
    "pallet-mmr-labs/std"
]

disable-panic-handler = ["sp-io/disable_panic_handler", "sp-io/disable_oom", "sp-io/disable_allocator"]


testing = ["pallet-timestamp/std"]

runtime-benchmarks = [
    "frame-benchmarking/runtime-benchmarks",
    "pallet-timestamp/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
    "frame-support/runtime-benchmarks"
]

try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"sp-runtime/try-runtime",
]
