[package]
name = "polygon-pos-verifier"
version = "0.1.0"
edition = "2021"
authors = ["Polytope Labs"]

[dependencies]
log = { version = "0.4.17", default-features = false }
anyhow = { version = "1.0.75", default-features = false }
sp-core = {version = "27.0.0", default-features = false }
alloy-rlp = { version = "0.3.2", default-features = false }
alloy-primitives = { version = "0.5.3", default-features = false, features = ["rlp"] }
alloy-rlp-derive = "0.3.2"
codec = { package = "parity-scale-codec", version = "3.1.3", default-features = false }
ethabi = { version = "18.0.0", features = ["rlp", "parity-codec"], default-features = false }
ismp = { path = "../../../ismp/core", default-features = false }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
sp-io = { version = "27.0.0", default-features = false }

[features]
default = ["std"]
std = [
    "log/std",
    "anyhow/std",
    "sp-core/std",
    "codec/std",
    "ismp/std",
    "alloy-primitives/std",
    "alloy-rlp/std",
    "ethabi/std",
    "scale-info/std",
    "sp-io/std"
]
