[package]
name = "ismp"
version = "0.1.0"
edition = "2021"
description = "Rust implementation of the ISMP protocol"
authors = ["Polytope Labs <hello@polytope.technology>"]

[dependencies]
# crates.io
codec = { package = "parity-scale-codec", version = "3.1.3", default-features = false }
primitive-types = { version = "0.12.1", default-features = false }
serde = { version = "1.0.136", features = ["derive"], optional = true }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
derive_more = { version = "0.99.17", default-features = false, features = ["from", "into", "display"] }
serde_json = { version = "1.0.99", default-features = false, features = ["alloc"] }



[features]
default = ["std"]
std = [
    "codec/std",
    "primitive-types/std",
    "scale-info/std",
    "serde",
    "frame-support/std",
    "sp-core/std",
    "sp-consensus-aura/std",
    "sp-io/std",
    "serde_json/std"
]
