[package]
name = "pallet-call-decompressor"
version = "0.1.0"
edition = "2021"
description = "Decompressing and Decoding Runtime Call"
authors = ["Polytope Labs <hello@polytope.technology>"]
publish = false


[dependencies]
# substrate
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-runtime = { workspace = true }
sp-core = { workspace = true }
sp-std = { workspace = true }

# polytope labs
ismp = { workspace = true }
pallet-ismp = { workspace = true, features = ["unsigned"] }
pallet-ismp-relayer = { workspace = true }

# crates.io
codec = { package = "parity-scale-codec", version = "3.1.3", default-features = false }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
ruzstd = { version = "0.6.0", default-features = false }

[features]
default = ["std"]
std = [
    "codec/std",
    "frame-support/std",
    "frame-system/std",
    "scale-info/std",
    "sp-runtime/std",
    "sp-std/std",
    "sp-core/std",
    "ismp/std",
    "pallet-ismp/std",
    "pallet-ismp-relayer/std",
    "ruzstd/std"
]


