[package]
name = "op-verifier"
version = "0.1.1"
edition = "2021"
description = "Verifier for Op Stack rollup protocol"
authors = ["Polytope Labs <hello@polytope.technology>"]
publish = false

[dependencies]
# polytope labs
ismp = { workspace = true  }
ethereum-triedb = { workspace = true  }
geth-primitives = { workspace = true  }
evm-common = { workspace = true }

# crates.io
alloy-rlp = { version = "0.3.2", default-features = false }
alloy-rlp-derive = "0.3.2"
alloy-primitives = { version = "0.6.0", default-features = false, features = ["rlp"] }
hex = { version = "0.4.3", default-features = false }
hex-literal = "0.3.4"
ethabi = { version = "18.0.0", features = ["rlp", "parity-codec"], default-features = false }
codec = { package = "parity-scale-codec", version = "3.1.3", default-features = false }



[features]
default = ["std"]
std = [
    "codec/std",
    "ismp/std",
    "ethereum-triedb/std",
    "alloy-rlp/std",
    "alloy-primitives/std",
    "ethabi/std",
    "hex/std",
    "geth-primitives/std",
    "evm-common/std"
]
