[package]
name = "substrate-state-machine"
version = "0.1.0"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]

[dependencies]
# substrate
frame-system = { workspace = true }
sp-runtime = { workspace = true }
sp-consensus-aura = { workspace = true }

# polytope labs
ismp = { workspace = true }
pallet-ismp = { workspace = true }

# crates.io
merkle-mountain-range = { workspace = true }
codec = { package = "parity-scale-codec", version = "3.1.3", default-features = false }
primitive-types = { version = "0.12.1", default-features = false }
serde = { version = "1.0.136", features = ["derive"], optional = true }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
frame-support = { workspace = true }
sp-core = { workspace = true }
sp-trie = { workspace = true }
hash-db = { version = "0.16.0", default-features = false }

[features]
default = ["std"]
std = [
    "frame-system/std",
    "ismp/std",
    "merkle-mountain-range/std",
    "codec/std",
    "sp-runtime/std",
    "primitive-types/std",
    "scale-info/std",
    "serde",
    "frame-support/std",
    "sp-core/std",
    "pallet-ismp/std",
    "sp-trie/std",
    "hash-db/std"
]
