[package]
name = "ismp-parachain-runtime-api"
version = "2506.0.0"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
license = "Apache-2.0"
repository = "https://github.com/polytope-labs/hyperbridge"
homepage = "https://docs.hyperbridge.network/developers/polkadot/getting-started"
documentation = "https://docs.rs/ismp-parachain"
description = "Substrate runtime API for the ISMP Parachain consensus client"
keywords = ["substrate", "polkadot-sdk", "ISMP", "interoperability"]
readme = "./README.md"

[dependencies.polkadot-sdk]
workspace = true
features = ["sp-api", "cumulus-pallet-parachain-system"]

[features]
default = ["std"]
std = ["polkadot-sdk/std"]
