[package]
name = "zk-beefy"
version = "0.1.0"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
description = "SNARK Circuits for BEEFY consensus proofs written in noir"

[dependencies]
tracing = { workspace = true }

tokio = { version = "1.35.1", features = ["fs", "macros", "rt-multi-thread"] }
rs_merkle = "1.4.1"
anyhow = "1.0.79"
codec = { package = "parity-scale-codec", version = "3.2.2" }
primitive-types = { workspace = true, features = ["serde", "codec"] }
thiserror = "1.0.64"
hex = { workspace = true }
beefy-verifier-primitives = { workspace = true }
beefy-prover = { workspace = true }
sp-consensus-beefy = { workspace = true }
subxt = { workspace = true, default-features = true }
sp-crypto-hashing = { workspace = true }
ismp-solidity-abi = { workspace = true, default-features = true }
merkle-mountain-range = { workspace = true }
polkadot-ckb-merkle-mountain-range = "0.8.1"
hex-literal = "0.4.1"

sp1-beefy = { git = "ssh://git@github.com/polytope-labs/sp1-beefy.git", rev = "2bf78874685560ca2b623594699dfa4daa2f3342" }
sp1-beefy-primitives = { git = "ssh://git@github.com/polytope-labs/sp1-beefy.git", rev = "2bf78874685560ca2b623594699dfa4daa2f3342" }

[dev-dependencies]
ethers = { workspace = true }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
serde = { version = "1", features = ["derive"] }
futures = "0.3.27"
envy = "0.4.2"
subxt-utils = { workspace = true, default-features = true }
hex = { version = "0.4.3", features = [] }

[dev-dependencies.polkadot-sdk]
workspace = true
features = ["sp-runtime"]
