[package]
name = "ismp-solidity-tests"
version = "0.1.1"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
description = "Integration tests for ismp-solidity"
publish = false


[dependencies]
# crates.io
once_cell = "1.17.0"
hex-literal = "0.4.1"
hex = "0.4.3"
primitive-types = { workspace = true, default-features = true }
codec = { package = "parity-scale-codec", version = "3.2.2" }
anyhow = { workspace = true, default-features = true }
libfuzzer-sys = "0.4.6"
futures = "0.3.27"
bytes = "1.4.0"
tokio = { workspace = true, features = ["macros"] }
tracing = "0.1.34"
tracing-subscriber = "0.3.11"
serde = "1.0.188"
envy = "0.4.2"
subxt = { workspace = true, default-features = true }
subxt-utils = { workspace = true, default-features = true }

trie-db = { workspace = true, default-features = true }
ethers = { workspace = true, default-features = true }
forge-testsuite = { workspace = true, default-features = true }
merkle-mountain-range = { workspace = true, features = ["default"] }
mmr-primitives = { workspace = true, default-features = true }
ismp = { workspace = true, default-features = true }
pallet-ismp = { workspace = true, default-features = true }
pallet-ismp-host-executive = { workspace = true, default-features = true }
pallet-mmr-tree = { workspace = true, default-features = true }
beefy-prover = { workspace = true, default-features = true }
beefy-verifier-primitives = { workspace = true, default-features = true }
pallet-ismp-relayer = { workspace = true, default-features = true }

ismp-solidity-abi = { path = "../abi", features = ["build-abi"] }
alloy-primitives = { workspace = true, default-features = true }

rs_merkle = { git = "https://github.com/polytope-labs/rs-merkle", branch = "seun/2d-merkle-proofs" }
foundry-evm = { workspace = true }

[dependencies.polkadot-sdk]
workspace = true
default-features = true
features = ["sp-consensus-beefy", "sp-core", "sp-runtime", "sp-trie"]
