[package]
name = "ismp-solidity-tests"
version = "0.1.0"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
description = "Integration tests for ismp-solidity"

[dependencies]
# crates.io
once_cell = "1.17.0"
hex-literal = "0.4.1"
hex = "0.4.3"
primitive-types = "0.12.1"
codec = { package = "parity-scale-codec", version = "3.2.2" }
anyhow = "1.0.72"
libfuzzer-sys = "0.4.6"
futures = "0.3.27"
bytes = "1.4.0"
tokio = { version = "1.17.0", features = ["macros"] }
tracing = "0.1.34"
tracing-subscriber = "0.3.11"
serde = "1.0.188"
envy = "0.4.2"

trie-db = "0.24.0"
subxt = { version = "0.30.1", features = ["substrate-compat"] }
merkle-mountain-range = { package = "ckb-merkle-mountain-range", version = "0.5.2" }

# rust-evm tools
ethers = { workspace = true }
forge-testsuite = { workspace = true }

# polytope-labs
merkle-mountain-range-labs = { package = "ckb-merkle-mountain-range", git = "https://github.com/polytope-labs/merkle-mountain-range", branch = "seun/simplified-mmr" }
rs_merkle = { git = "https://github.com/polytope-labs/rs-merkle", branch = "seun/2d-merkle-proofs" }
ismp = { path = "../../parachain/modules/ismp/core" }
#beefy-prover = { git = "ssh://git@github.com/polytope-labs/tesseract.git", branch = "main" }
#beefy-verifier-primitives = { git = "ssh://git@github.com/polytope-labs/tesseract.git", branch = "main" }

# substrate
sp-consensus-beefy = { workspace = true, features = ["default"] }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-trie = { workspace = true }