[package]
name = "ismp-solidity-tests"
version = "0.1.0"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
description = "Integration tests for ismp-solidity"

[dependencies]
# crates.io
once_cell = "1.17.0"
hex-literal = "0.4.1"
hex = "0.4.3"
primitive-types = "0.12.1"
codec = { package = "parity-scale-codec", version = "3.2.2" }
anyhow = "1.0.72"
libfuzzer-sys = "0.4.6"
futures = "0.3.27"
bytes = "1.4.0"
tokio = { version = "1.17.0", features = ["macros"] }
tracing = "0.1.34"
tracing-subscriber = "0.3.11"
serde = "1.0.188"
envy = "0.4.2"
subxt = { workspace = true, features = ["substrate-compat"], default-features = true }

# substrate
trie-db = { workspace = true, default-features = true }
sp-consensus-beefy = { workspace = true, features = ["default"] }
sp-core = { workspace = true, default-features = true }
sp-runtime = { workspace = true, default-features = true }
sp-trie = { workspace = true, default-features = true }
ethers = { workspace = true, default-features = true }
forge-testsuite = { workspace = true, default-features = true }
merkle-mountain-range = { workspace = true, features = ["default"] }
mmr-primitives = { workspace = true, default-features = true }
ismp = { workspace = true, default-features = true }
pallet-ismp = { workspace = true, default-features = true }
pallet-mmr = { workspace = true, default-features = true }
beefy-prover = { workspace = true, default-features = true }
beefy-verifier-primitives = { workspace = true, default-features = true }
pallet-ismp-relayer = { workspace = true, default-features = true }

ismp-solidity-abi = { path = "../abi", features = ["build-abi"] }

rs_merkle = { git = "https://github.com/polytope-labs/rs-merkle", branch = "seun/2d-merkle-proofs" }
foundry-evm = { git = "https://github.com/polytope-labs/foundry", rev = "068ef4d82e8421f9f96fdc33b061dc4848b7019a" }
