[package]
name = "tendermint-verifier"
version = "0.1.0"
edition = "2021"
description = "CometBFT light client verifier for ISMP"
authors = ["Polytope Labs <hello@polytope.technology>"]
publish = false

[dependencies]
# Core dependencies
cometbft-light-client-verifier = { git = "https://github.com/cometbft/cometbft-rs", package = "cometbft-light-client-verifier", rev = "ac3db79c5807cd1d0b8b14a7b8199b8d79d6408d", default-features = false }
cometbft = { git = "https://github.com/cometbft/cometbft-rs",  rev = "ac3db79c5807cd1d0b8b14a7b8199b8d79d6408d", default-features = false }
cometbft-proto = { git = "https://github.com/cometbft/cometbft-rs", package = "cometbft-proto", rev = "ac3db79c5807cd1d0b8b14a7b8199b8d79d6408d", default-features = false }
thiserror = { version = "2.0.12", default-features = false, optional = true }
serde = { version = "1.0.219", features = ["derive"], optional = true, default-features = false }
prost = { version = "0.13", default-features = false }

[dependencies.polkadot-sdk]
workspace = true
features = ["sp-runtime", "sp-core", "sp-io"]
default-features = false

[features]
default = ["std"]
std = [
    "serde/std",
    "polkadot-sdk/std",
    "thiserror/std",
    "prost/std",
]

 