[package]
name = "sync-committee-prover"
version = "0.1.1"
edition = "2021"
publish = false

[dependencies]
sync-committee-primitives = { workspace = true, default-features = true }
sync-committee-verifier = { workspace = true, default-features = true }
serde = { workspace = true, default-features = true, features = ["derive"] }
anyhow = { workspace = true, default-features = true }
tokio = { workspace = true, features = ["sync"] }
tokio-stream = { workspace = true }
log = { workspace = true, default-features = true }
hex = { workspace = true, default-features = true }
json = { workspace = true, default-features = true }
primitive-types = { workspace = true, default-features = true, features = ["serde_no_std", "impl-codec"] }

ssz-rs = { git = "https://github.com/polytope-labs/ssz-rs",  branch = "main" }
reqwest = { version="0.11.14", features=["json"]}
reqwest-middleware = "0.2.4"
reqwest-chain = "0.1.0"
base2 = { version= "0.3.1" }
env_logger = "0.10.0"
bls = { workspace = true, default-features = true }
async-trait = "0.1.77"
tracing = "0.1.40"

[dev-dependencies]
env_logger = "0.10.0"
sync-committee-primitives = { path= "../primitives" }
sync-committee-verifier = { path= "../verifier" }
ethers = { workspace = true, features = ["ws", "default"] }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"]}
parity-scale-codec = "3.2.2"
reqwest-eventsource = "0.4.0"
dotenv = "0.15.0"


[features]
fulu = ["sync-committee-primitives/fulu"]
