[package]
name = "ismp-bsc"
version = "0.1.1"
edition = "2021"
description = "ISMP Consensus Client for the BNB POS Network's Consensus Protocol"
authors = ["Polytope Labs <hello@polytope.technology>"]
publish = false


[dependencies]
log = { version = "0.4.17", default-features = false }
anyhow = { workspace = true, default-features = false }
codec = { package = "parity-scale-codec", version = "3.1.3", default-features = false }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }

sp-core = {workspace = true, default-features = false }
ismp = { workspace = true }
bsc-verifier = { workspace = true }
sync-committee-primitives = { workspace = true }
geth-primitives = { workspace = true }
evm-common = { workspace = true }
pallet-ismp-host-executive = { workspace = true }

[features]
default = ["std"]
std = [
    "log/std",
    "anyhow/std",
    "sp-core/std",
    "codec/std",
    "scale-info/std",
    "bsc-verifier/std",
    "ismp/std",
    "sync-committee-primitives/std",
    "evm-common/std",
    "pallet-ismp-host-executive/std"
]
