[package]
name = "pallet-relayer-incentives"
version = "0.1.0"
description = "FRAME pallet for incentivizing hyperbridge relayers with rewards"
authors = ["Polytope Labs <hello@polytope.technology>"]
edition = "2021"
publish = false

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { workspace = true }
scale-info = { workspace = true }
polkadot-sdk = { workspace = true }
pallet-ismp = { workspace = true, default-features = false }
ismp = { workspace = true, default-features = false }

[features]
default = ["std"]
std = [
    "codec/std",
    "scale-info/std",
    "polkadot-sdk/std",
    "pallet-ismp/std",
    "ismp/std",
]
runtime-benchmarks = ["polkadot-sdk/runtime-benchmarks"]
try-runtime = ["polkadot-sdk/try-runtime"]
