[package]
name = "grandpa-verifier"
version = "0.1.0"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
license = "Apache-2.0"
repository = "https://github.com/polytope-labs/hyperbridge"
homepage = "https://docs.hyperbridge.network/integrations/polkadot-sdk"
documentation = "https://docs.rs/ismp-parachain"
description = "GRANDPA consensus proof verifier"
keywords = ["substrate", "polkadot-sdk", "ISMP", "interoperability"]
readme = "./README.md"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { workspace = true, features = ["derive"]}
anyhow = { workspace = true }
finality-grandpa = { version = "0.16.0", features = ["derive-codec"], default-features = false }
serde = { workspace = true, features = ["derive"] }
derive_more = { version = "0.99.17", default-features = false, features = ["from"] }

sp-consensus-grandpa = { workspace = true }
frame-support = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
sp-trie = { workspace = true }
sp-io = { workspace = true }
sp-core = { workspace = true }
sp-storage = { workspace = true }

grandpa-verifier-primitives = { workspace = true }
substrate-state-machine = { workspace = true }

[dev-dependencies]
polkadot-core-primitives = { workspace = true }
subxt = { workspace = true, features = ["substrate-compat"], default-features = true }
futures = "0.3.24"
hex = "0.4.3"
env_logger = "0.9.0"
log = "0.4.17"
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "time"] }
hex-literal = "0.3.4"
grandpa-prover = { workspace = true}
ismp = { workspace = true }
sc-consensus-grandpa-rpc = "0.29.0"
subxt-utils = { workspace = true, default-features = true }

[features]
default = ["std"]
std = [
    "codec/std",
    "anyhow/std",
    "finality-grandpa/std",
    "frame-support/std",
    "sp-runtime/std",
    "sp-std/std",
    "sp-trie/std",
    "sp-consensus-grandpa/std",
    "sp-io/std",
    "grandpa-verifier-primitives/std",
    "serde/std",
    "sp-storage/std",
    "substrate-state-machine/std"
]
