[package]
name = "polygon-pos-prover"
version = "0.1.0"
edition = "2021"
description = "Prover for Polygon POS Network's Consensus Protocol"
authors = ["Polytope Labs <hello@polytope.technology>"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
polygon-pos-verifier = { path= "../verifier" }
anyhow = "1.0.68"
primitive-types = { version = "0.12.1", features = ["serde_no_std", "impl-codec"] }
ethers = { workspace = true, features = ["ws", "default"] }
geth-primitives = { path = "../../geth-primitives", default-features = false }

[dev-dependencies]
tokio = { version = "1.32.0", features = ["macros"] }
dotenv = "0.15.0"
ismp = { path = "../../../ismp/core" }
sp-core = { workspace = true, default-features = true }
