[package]
name = "ismp"
version = "2506.1.0"
edition = "2021"
description = "Rust implementation of the interoperable state machine protocol"
authors = ["Polytope Labs <hello@polytope.technology>"]
license = "Apache-2.0"
repository = "https://github.com/polytope-labs/hyperbridge"
homepage = "https://docs.hyperbridge.network/protocol/ismp"
documentation = "https://docs.rs/ismp"
keywords = ["substrate", "polkadot-sdk", "ISMP", "interoperability"]
readme = "./README.md"

[dependencies]
# crates.io
codec = { workspace = true }
primitive-types = { workspace = true, features = [
    "codec",
    "scale-info",
    "serde_no_std",
] }
serde = { workspace = true, features = ["derive"] }
scale-info = { workspace = true, features = ["derive"] }
derive_more = { workspace = true, default-features = false, features = [
    "from",
    "into",
    "display",
] }
displaydoc = { version = "0.2", default-features = false }
hex = { workspace = true, features = ["alloc"] }
anyhow = { workspace = true, default-features = false }
thiserror = { workspace = true }
serde-hex-utils = { workspace = true, default-features = false }
sp-weights = { workspace = true, default-features = false }

[features]
default = ["std"]
std = [
    "codec/std",
    "primitive-types/std",
    "primitive-types/serde",
    "scale-info/std",
    "serde/std",
    "anyhow/std",
    "hex/std",
    "serde-hex-utils/std",
    "thiserror/std",
    "displaydoc/std",
    "anyhow/std",
    "sp-weights/std",
]
