@layer base, code, utilities, math, math-override;

@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "@hyperbridge/ui/base";
@import "../../public/fonts/fonts.css";
@import "../styles/theme.css";

@layer math {
  @import "katex/dist/katex.css";
  @import "pseudocode/build/pseudocode.min.css";
}

