[package]
name = "hyperclient"
version = "0.6.0"
edition = "2021"
description = "The hyperclient is a library for managing (in-flight) ISMP requests"
repository = "https://github.com/polytope-labs/hyperbridge"
license = "Apache-2.0"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
# workspace
subxt = { workspace = true }
anyhow = { workspace = true }
codec = { workspace = true }
tokio = { workspace = true, features = ["macros"] }
primitive-types = { workspace = true, features = ["serde"] }
ethers = { workspace = true }
ismp = { workspace = true, default-features = false }
pallet-ismp = { workspace = true, features = ["disable-panic-handler"] }
evm-state-machine = { workspace = true }
substrate-state-machine = { workspace = true }
ismp-solidity-abi = { workspace = true }
ethereum-triedb = { workspace = true }
subxt-utils = { workspace = true }
mmr-primitives = { workspace = true }
serde-hex-utils = { workspace = true }
hex = { workspace = true }
hex-literal = { workspace = true }

sp-core = { workspace = true, features = ["serde"] }

# crates.io
wasm-bindgen = { version = "0.2.90" }
reqwest = { version = "0.11.27", default-features = false }
getrandom = { version = "0.2", default-features = false, features = ["js"] }
serde = { version = "1.0.196", features = ["derive"], default-features = false }
serde-wasm-bindgen = { version = "0.6.3", default-features = false }
futures = "0.3.30"
wasm-bindgen-futures = "0.4.40"
wasm-streams = "0.4.0"
js-sys = "0.3.68"
web-sys = "0.3.68"
wasmtimer = { version = "0.4.0", optional = true }
gloo-timers = { version = "0.3.0", features = ["futures"], optional = true }
hashbrown = { version = "0.14.3", features = ["serde"] }
url = "2.5.1"
gql_client = "=1.0.7"
console_error_panic_hook = "0.1.7"
hex_fmt = { version = "0.3.0", default-features = false }
tracing = { version = "0.1.40", default-features = false }
tracing-wasm = "0.2.1"
tracing-subscriber = { version = "0.3", features = ["registry"], default-features = false }
tracing-subscriber-wasm = "0.1.0"

[dependencies.polkadot-sdk]
workspace = true
features = ["sp-mmr-primitives"]

[features]
default = ["std"]
wasm = ["subxt/web", "subxt/jsonrpsee", "subxt-utils/wasm"]
std = [
    "polkadot-sdk/std",
    "subxt/native",
    "subxt/jsonrpsee",
    "subxt-utils/std",
    "sp-core/std",
    "serde-hex-utils/std",
    "substrate-state-machine/std",
]
# Only works on the web, but is more reliable
web = ["gloo-timers"]
# wasmtimer works in nodejs, sort of
nodejs = ["wasmtimer"]
testing = ["nodejs"]
tracing = []

[dev-dependencies]
json = { package = "serde_json", version = "1.0.114", default-features = false }
wasm-bindgen-test = "0.3.24"

[target.'cfg(not(target_family="wasm"))'.dev-dependencies]
ethers = { workspace = true, features = ["ws"], default-features = true }
pallet-ismp = { workspace = true, default-features = true }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
