[package]
name = "ismp-grandpa"
version = "2506.2.0"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
license = "Apache-2.0"
repository = "https://github.com/polytope-labs/hyperbridge"
homepage = "https://docs.hyperbridge.network/developers/polkadot/getting-started"
documentation = "https://docs.rs/ismp-grandpa"
description = "GRANDPA consensus client for pallet-ismp"
keywords = ["substrate", "polkadot-sdk", "ISMP", "interoperability", "GRANDPA"]
readme = "./README.md"

[dependencies]
anyhow = { workspace = true }
codec = { workspace = true, features = ["derive"] }
primitive-types = { workspace = true }
merkle-mountain-range = { workspace = true }

# polytope labs
ismp = { workspace = true }
grandpa-verifier-primitives = { workspace = true }
grandpa-verifier = { workspace = true }
pallet-ismp = { workspace = true }
substrate-state-machine = { workspace = true }

[dependencies.polkadot-sdk]
workspace = true
features = [
    "frame-support",
    "frame-system",
    "sp-trie",
    "sp-io",
    "sp-runtime",
    "sp-consensus-aura",
    "sp-core",
    "sp-std",
]

[dependencies.scale-info]
version = "2.1.1"
default-features = false
features = ["derive"]

[dependencies.finality-grandpa]
version = "0.16.0"
features = ["derive-codec"]
default-features = false

[features]
default = ["std"]
std = [
    "codec/std",
    "scale-info/std",
    "ismp/std",
    "polkadot-sdk/std",
    "primitive-types/std",
    "pallet-ismp/std",
    "grandpa-verifier-primitives/std",
    "grandpa-verifier/std",
    "merkle-mountain-range/std",
    "substrate-state-machine/std",
    "finality-grandpa/std",
]
try-runtime = ["polkadot-sdk/try-runtime"]
runtime-benchmarks = [
    "polkadot-sdk/frame-benchmarking",
    "polkadot-sdk/runtime-benchmarks",
    "pallet-ismp/runtime-benchmarks",
]
