[package]
name = "ismp-grandpa"
version = "15.0.0"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
license = "Apache-2.0"
repository = "https://github.com/polytope-labs/hyperbridge"
homepage = "https://docs.hyperbridge.network/developers/polkadot/getting-started"
documentation = "https://docs.rs/ismp-grandpa"
description = "GRANDPA consensus client for pallet-ismp"
keywords = ["substrate", "polkadot-sdk", "ISMP", "interoperability", "GRANDPA"]
readme = "./README.md"

[dependencies]
anyhow = { workspace = true }
codec = { workspace = true, features = ["derive"] }
primitive-types = { workspace = true }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
merkle-mountain-range = { workspace = true }
finality-grandpa = { version = "0.16.0", features = ["derive-codec"], default-features = false }
frame-benchmarking = { workspace = true, optional = true }
sp-std = { workspace = true }

# polytope labs
ismp = { workspace = true }
grandpa-verifier-primitives = { workspace = true }
grandpa-verifier = { workspace = true }
pallet-ismp = { workspace = true }

# substrate
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-trie = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-consensus-aura = { workspace = true }
sp-core = { workspace = true }

# cumulus
substrate-state-machine = { workspace = true }

[features]
default = ["std"]
std = [
    "sp-std/std",
    "codec/std",
    "frame-support/std",
    "frame-system/std",
    "scale-info/std",
    "ismp/std",
    "sp-trie/std",
    "sp-consensus-aura/std",
    "sp-runtime/std",
    "sp-io/std",
    "primitive-types/std",
    "pallet-ismp/std",
    "sp-core/std",
    "grandpa-verifier-primitives/std",
    "grandpa-verifier/std",
    "merkle-mountain-range/std",
    "substrate-state-machine/std",
    "finality-grandpa/std",
]
try-runtime = []

runtime-benchmarks = [
    "frame-benchmarking/runtime-benchmarks",
    "frame-support/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
    "pallet-ismp/runtime-benchmarks",
]
