[package]
name = "pallet-ismp-rpc"
version = "1.15.1"
edition = "2021"
authors = ["Polytope Labs <hello@polytope.technology>"]
license = "Apache-2.0"
repository = "https://github.com/polytope-labs/hyperbridge"
homepage = "https://docs.hyperbridge.network/developers/polkadot/getting-started"
documentation = "https://docs.rs/pallet-ismp-rpc"
description = "RPC apis for pallet-ismp"
keywords = ["substrate", "polkadot-sdk", "ISMP", "interoperability"]
readme = "./README.md"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
anyhow = { workspace = true }
hex = { workspace = true }
codec = { workspace = true, features = ["derive"], default-features = true }
hex-literal = { workspace = true, default-features = true }
jsonrpsee = { workspace = true, features = ["client-core", "server", "macros"] }
serde = { workspace = true, features = ["derive"], default-features = true }
json = { workspace = true, default-features = true }
tower = { version = "0.4.13", features = ["util"] }

ismp = { workspace = true, default-features = true }
pallet-ismp = { workspace = true, default-features = true }
pallet-ismp-runtime-api = { workspace = true, default-features = true }
sp-mmr-primitives = { workspace = true, default-features = true }

frame-system = { workspace = true, default-features = true }
sc-client-api = { workspace = true, default-features = true }
sp-api = { workspace = true, default-features = true }
sp-blockchain = { workspace = true, default-features = true }
sp-core = { workspace = true, default-features = true }
sp-runtime = { workspace = true, default-features = true }
sp-trie = { workspace = true, default-features = true }
sp-storage = { workspace = true, default-features = true }
hash-db = { workspace = true, default-features = true }
trie-db = { workspace = true, default-features = true }
sc-rpc = { workspace = true, default-features = true }
