[package]
name = "simtests"
version = "0.1.1"
edition = "2021"
description = "Simnode integration tests for the hyperbridge node subsystems"
authors = ["Polytope Labs <hello@polytope.technology>"]
publish = false

[dependencies]
subxt = { workspace = true, default-features = true }
anyhow.workspace = true
futures = "0.3.28"
tokio = { workspace = true, features = ["macros"] }
indicatif = "0.17.8"

codec = { workspace = true, features = ["derive"], default-features = true }
sp-core = { workspace = true, features = [
    "full_crypto",
    "serde",
], default-features = true }
substrate-state-machine = { workspace = true }
primitive-types = { workspace = true }
primitive-types-old = { package = "primitive-types", version = "0.12.1" } # Added for subxt compatibility when  decoding events
ismp = { workspace = true, default-features = true }
subxt-utils = { workspace = true, default-features = true }
pallet-ismp = { workspace = true, default-features = true }
pallet-ismp-demo = { workspace = true, default-features = true }
pallet-hyperbridge = { workspace = true, default-features = true }
mmr-primitives = { workspace = true, default-features = true }
pallet-mmr-tree = { workspace = true, default-features = true }
pallet-ismp-rpc = { workspace = true }
merkle-mountain-range = { workspace = true }
jsonrpsee-core = { workspace = true, features = ["client"] }
trie-db = { workspace = true }
hash-db = { workspace = true }
hex-literal = { workspace = true }
hex = { workspace = true }

[dependencies.polkadot-sdk]
workspace = true
default-features = true
features = [
    "sp-trie",
    "sp-runtime",
    "sp-keyring",
    "sc-consensus-manual-seal",
    "sp-mmr-primitives",
]

[features]
stress-test = []
