figcaption {
  text-align: center;
}

html,
body,
.vocs_DocsLayout {
  font-family: "Novatica";
  font-feature-settings:
    "rlig" 1,
    "calt" 1;
  font-size: var(--vocs-fontSize_root);
}

.vocs_NavLogo_logoImage {
  height: 70px !important;
  position: relative;
  left: -20px;
}

code {
  font-family: "Berkeley Mono", monospace;
}

.katex-display {
  overflow: auto hidden;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Novatica";
  src: url("/fonts/Novatica.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Novatica";
  src: url("/fonts/Novatica-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Novatica";
  src: url("/fonts/Novatica-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Novatica";
  src: url("/fonts/Novatica-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("/fonts/BerkeleyMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("/fonts/BerkeleyMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Score Board";
  src: url("/fonts/Scoreboard.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}