[package]
name = "ismp-sync-committee"
version = "0.1.0"
edition = "2021"
description = "ISMP Consensus Client for the Beacon Chain's Sync Committee Consensus Protocol"
authors = ["Polytope Labs <hello@polytope.technology>"]

[dependencies]
# polytope labs
ismp = { path = "../../core", default-features = false }
sync-committee-primitives = { path = "../../../consensus/sync-committee/primitives", default-features = false }
sync-committee-verifier = { path = "../../../consensus/sync-committee/verifier", default-features = false }
ethereum-trie = { path = "../../../trees/ethereum", default-features = false }
pallet-ismp = { path = "../../pallet", default-features = false }
geth-primitives = { path = "../../../consensus/geth-primitives", default-features = false }
evm-common = { workspace = true }
arbitrum-verifier = { workspace = true }
op-verifier = { workspace = true }

# crates.io
trie-db = { workspace = true }
hash-db = { workspace = true }
alloy-rlp = { version = "0.3.2", default-features = false }
alloy-rlp-derive = "0.3.2"
alloy-primitives = { version = "0.6.0", default-features = false, features = ["rlp"] }
hex = { version = "0.4.3", default-features = false }
hex-literal = "0.3.4"
ethabi = { version = "18.0.0", features = ["rlp", "parity-codec"], default-features = false }
hash256-std-hasher = { version = "0.15.2", default-features = false }
codec = { package = "parity-scale-codec", version = "3.1.3", default-features = false }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }

frame-support = { workspace = true }
frame-system = { workspace = true }
sp-trie = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-core = { workspace = true }

[features]
default = ["std"]
std = [
    "codec/std",
    "ismp/std",
    "ethereum-trie/std",
    "trie-db/std",
    "hash-db/std",
    "alloy-rlp/std",
    "alloy-primitives/std",
    "ethabi/std",
    "hash256-std-hasher/std",
    "hex/std",
    "sync-committee-primitives/std",
    "sync-committee-verifier/std",
    "frame-support/std",
    "frame-system/std",
    "scale-info/std",
    "sp-runtime/std",
    "sp-core/std",
    "pallet-ismp/std",
    "geth-primitives/std",
    "evm-common/std",
    "arbitrum-verifier/std",
    "op-verifier/std"
]

disable-panic-handler = ["sp-io/disable_panic_handler", "sp-io/disable_oom", "sp-io/disable_allocator"]

try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"sp-runtime/try-runtime",
]
