name: Docker Release

on:
  workflow_dispatch:

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_publish:
    runs-on: release-runner
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
          submodules: recursive

      - uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: "${{ secrets.SSH_KEY }}"

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.9.1'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: stable

      - name: Add wasm toolchain
        run: |
          rustup install nightly
          rustup target add wasm32-unknown-unknown --toolchain nightly
          rustup target add wasm32-unknown-unknown
          rustup component add rust-src
          sudo apt install --assume-yes git clang curl libssl-dev llvm libudev-dev make protobuf-compiler

      - name: Build
        run:  |
          cargo build --release -p hyperbridge
          mv ./target/release/hyperbridge ./

      - name: Install Cargo get
        run: cargo install cargo-get

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build the Docker image
        run: docker build -t polytopelabs/hyperbridge:v$(cargo get package.version --entry ./parachain/node) -t polytopelabs/hyperbridge:latest -f ./scripts/docker/slim.Dockerfile .

      - name: Docker Push
        run: |
          docker push polytopelabs/hyperbridge:v$(cargo get package.version --entry ./parachain/node)
          docker push polytopelabs/hyperbridge:latest
