name: Docker Telemetry

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_publish:
    runs-on: release-runner
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
          submodules: recursive

      - uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: "${{ secrets.SSH_KEY }}"

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.9.1'

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly

      - name: Build
        run:  cargo +nightly build --release -p telemetry-server

      - name: Install Cargo get
        run: cargo install cargo-get

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build the Docker image
        run: docker build -t polytopelabs/telemetry-server:v$(cargo get package.version --entry ./telemetry) -t polytopelabs/telemetry-server:latest -f ./scripts/docker/telemetry.Dockerfile .

      - name: Docker Push
        run: |
          docker push polytopelabs/telemetry-server:v$(cargo get package.version --entry ./telemetry)
          docker push polytopelabs/telemetry-server:latest
