name: Polyhedron Docker Publish

on:
    push:
        tags:
            - "polyhedron-v[0-9]+.[0-9]+.[0-9]+"

concurrency:
    group: release-polyhedron-${{ github.ref }}
    cancel-in-progress: true

env:
    TELEMETRY_SECRET_KEY: ${{ secrets.TELEMETRY_SECRET_KEY }}

jobs:
    build_and_publish:
        runs-on: release-runner
        steps:
            - name: Checkout sources
              uses: actions/checkout@v3
              with:
                  token: ${{ secrets.GH_TOKEN }}
                  submodules: recursive

            - name: Download SVM Releases List
              run: |
                  wget -O /tmp/svm_releases_list.json https://raw.githubusercontent.com/nikitastupin/solc/2287d4326237172acf91ce42fd7ec18a67b7f512/linux/aarch64/list.json
                  echo "SVM_RELEASES_LIST_JSON=/tmp/svm_releases_list.json" >> $GITHUB_ENV

            - uses: webfactory/ssh-agent@v0.5.4
              with:
                  ssh-private-key: "${{ secrets.SSH_KEY }}"

            - name: Install toolchain
              uses: dtolnay/rust-toolchain@nightly
              with:
                  toolchain: stable

            - name: Add wasm toolchain
              run: |
                  rustup update nightly
                  rustup target add wasm32-unknown-unknown --toolchain nightly
                  rustup target add wasm32-unknown-unknown
                  rustup component add rust-src

            - name: Install Dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install -y clang netcat wget curl libssl-dev llvm libclang-dev libudev-dev make protobuf-compiler pkg-config libsnappy-dev librocksdb-dev rocksdb-tools
                  echo "LIBCLANG_PATH=/usr/lib/llvm-14/lib" >> $GITHUB_ENV

            - name: Build polyhedron
              run: |
                  cargo build --release --bin polyhedron

            - name: Install Cargo get
              run: cargo install cargo-get

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

            - name: Build the Docker image
              run: docker build -t polytopelabs/polyhedron:v$(cargo get package.version --entry ./tesseract/consensus/relayer) -t polytopelabs/polyhedron:latest -f ./scripts/docker/polyhedron.Dockerfile .

            - name: Docker Push
              run: |
                  docker push polytopelabs/polyhedron:v$(cargo get package.version --entry ./tesseract/consensus/relayer)
                  docker push polytopelabs/polyhedron:latest
