name: Tesseract Docker Publish

on:
    push:
        tags:
            - "tesseract-consensus-v[0-9]+.[0-9]+.[0-9]+"

concurrency:
    group: release-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build_and_publish:
        runs-on: release-runner
        steps:
            - name: Checkout sources
              uses: actions/checkout@v3
              with:
                  token: ${{ secrets.GH_TOKEN }}
                  submodules: recursive

            - name: Download SVM Releases List
              run: |
                  wget -O /tmp/svm_releases_list.json https://raw.githubusercontent.com/nikitastupin/solc/2287d4326237172acf91ce42fd7ec18a67b7f512/linux/aarch64/list.json
                  echo "SVM_RELEASES_LIST_JSON=/tmp/svm_releases_list.json" >> $GITHUB_ENV

            - uses: webfactory/ssh-agent@v0.5.4
              with:
                  ssh-private-key: "${{ secrets.SSH_KEY }}"

            - name: Install toolchain
              uses: dtolnay/rust-toolchain@nightly
              with:
                  toolchain: stable

            - name: Build
              run: |
                  sudo apt-get update -y
                  sudo apt-get install -y clang netcat wget curl libssl-dev llvm libudev-dev make protobuf-compiler pkg-config
                  cargo build --release -p tesseract-consensus
            - name: Install Cargo get
              run: cargo install cargo-get

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

            - name: Build the Docker image
              run: docker build -t polytopelabs/tesseract-consensus:v$(cargo get package.version --entry ./tesseract/consensus/relayer) -t polytopelabs/tesseract-consensus:latest -f ./tesseract/consensus/Dockerfile .

            - name: Docker Push
              run: |
                  docker push polytopelabs/tesseract-consensus:v$(cargo get package.version --entry ./tesseract/consensus/relayer)
                  docker push polytopelabs/tesseract-consensus:latest
